<div id="{{sidebar.style.cssModuleName}}">
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <!-- search form -->
            <form method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li ng-class="{'header':!config.hasOwnProperty('url'),'treeview':config.list.length>0}"
                    ng-repeat="config in sidebar.menuConfig" ng-include="'sidebar_item'">
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</div>

<!--单行模版start-->
<script type="text/ng-template" id="sidebar_item">
    <span ng-if="config.hasOwnProperty('sectionHeader')">{{::config.sectionHeader}}</span>
    <a href="" ui-sref="{{::config.url}}" ng-if="config.hasOwnProperty('list')">
        <i class="{{::config.icon}}"></i> <span>{{::config.name}}</span>
        <span ng-if="config.list.length>0" class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
    </a>
    <ul class="treeview-menu" ng-if="config.list.length>0" ng-init="subSidebarConfig=config.list">
        <li ng-include="'sidebar_item'"
            ng-class="{'header':config.hasOwnProperty('sectionHeader'),'treeview':config.list.length>0}"
            ng-repeat="config in subSidebarConfig">
        </li>
    </ul>
</script>
<!--单行模版end-->

