<h2 class="page-header">User detail</h2>

<div class="row" ng-init="tabIndex=1">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li ng-class="{active: tabIndex==1}"><a href="" ng-click="tabIndex=1" data-toggle="tab">Info</a></li>
                <li ng-class="{active: tabIndex==2}"><a href="" ng-click="tabIndex=2" data-toggle="tab">Role</a></li>
                <li ng-class="{active: tabIndex==3}"><a href="" ng-click="tabIndex=3" data-toggle="tab">Department</a></li>
                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
                <div ng-class="{active: tabIndex==1}" class="tab-pane" id="tab_1">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group-inline col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="Username" class="col-sm-4 control-label">Username:</label>
                                <div class="col-sm-8">
                                    <input ng-disabled="userDetail.uneditable" ng-model="userDetail.user.username" type="text" class="form-control" id="Username" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group-inline col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="Mobile" class="col-sm-4 control-label">Mobile:</label>
                                <div class="col-sm-8">
                                    <input ng-disabled="userDetail.uneditable" ng-model="userDetail.user.mobile" type="text" class="form-control" id="Mobile" placeholder="Mobile">
                                </div>
                            </div>
                            <div class="form-group-inline col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="Email" class="col-sm-4 control-label">Email:</label>
                                <div class="col-sm-8">
                                    <input ng-disabled="userDetail.uneditable" ng-model="userDetail.user.email" type="text" class="form-control" id="Email" placeholder="Email">
                                </div>
                            </div>
                            <!--<div class="form-group-inline col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="Password" class="col-sm-4 control-label">Password:</label>
                                <div class="col-sm-8">
                                    <input ng-model="userDetail.user.password" type="password" class="form-control" id="Password" placeholder="Password">
                                </div>
                            </div>-->
                        </div>
                        <!-- /.box-body -->

                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.tab-pane -->
                <div ng-class="{active: tabIndex==2}" class="tab-pane" id="tab_2">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <roles checktool="true" pagesizetool="false" addtool="false" searchtool="false" checkedids="userDetail.user.roleIdList" checkable="!userDetail.uneditable"></roles>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.tab-pane -->
                <div ng-class="{active: tabIndex==3}" class="tab-pane" id="tab_3">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <!-- /.tab-pane -->
                <div class="box-footer">
                    <button ng-click="userDetail.back()" type="submit" class="btn btn-default">Cancel</button>
                    <button auth-opt="sys:user:update" ng-if="!userDetail.uneditable" ng-click="userDetail.submitForm()" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
