<div class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row" ng-if="quartz.searchtool">
        <form class="form-inline col-xs-12">
            <div class="form-group group-margin">
                <label>Bean Name:</label>
                <input ng-model="quartz.search.beanName" type="text" class="form-control" placeholder="Bean name">
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label ng-if="quartz.pagesizetool">Show <select ng-model="quartz.itemsperpage" name="example1_length" aria-controls="example1"
                                                            class="form-control input-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entries</label>
            <button class="btn btn-default" ng-click="quartz.queryPage(quartz.search)">Search</button>
            <button ng-if="quartz.addtool" auth-opt="sys:schedule:save" ng-click="quartz.tblOptAdd()" type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i>New</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped dataTable" role="grid"
                   aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th>Index</th>
                    <th>Bean name</th>
                    <th>Method name</th>
                    <th>Parameters</th>
                    <th>Cron Expression</th>
                    <th>Status</th>
                    <th>Remark</th>
                    <th class="col-xs-2">Operation</th>
                </thead>
                <tbody>
                <tr ng-repeat="($taskIndex, task) in quartz.taskList" role="row">
                    <td>{{$taskIndex+1}}</td>
                    <td>{{task.beanName}}</td>
                    <td>{{task.methodName}}</td>
                    <td>{{task.params}}</td>
                    <td>{{task.cronExpression}}</td>
                    <td>{{ {'0':'Running', '1': 'Stopping'}[task.status]}}</td>
                    <td>{{task.remark}}</td>
                    <td>
                        <input ng-if="quartz.checktool" ng-disabled="!quartz.checkable" type="checkbox" ng-click="quartz.checkItem(task)" ng-model="task.checked">
                        <span auth-opt="sys:schedule:pause" title="Pause" ng-click="quartz.quartzOptPause(task)" class="table-control-btn"><i class="fa fa-pause-circle-o"></i></span>
                        <span auth-opt="sys:schedule:resume" title="Resume" ng-click="quartz.quartzOptResume(task)" class="table-control-btn"><i class="fa fa-play-circle-o"></i></span>
                        <span auth-opt="sys:schedule:run" title="Run" ng-click="quartz.quartzOptRun(task)" class="table-control-btn"><i class="fa fa-play"></i></span>
                        <span ng-if="quartz.edittool" auth-opt="sys:schedule:update" ng-click="quartz.tblOptEdit(task.id)" class="table-control-btn" title="Edit"><i class="fa fa-pencil"></i></span>
                        <span ng-if="quartz.viewtool" auth-opt="sys:schedule:info" ng-click="quartz.tblOptView(task.id)" class="table-control-btn" title="View"><i class="fa fa-television"></i></span>
                        <span ng-if="quartz.deletetool" auth-opt="sys:schedule:delete" ng-click="quartz.tblOptDelete(task.id)" class="table-control-btn" title="Delete"><i class="fa fa-trash"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            Showing {{(quartz.bigCurrentPage-1)*quartz.itemsperpage || 1}} to {{(quartz.bigCurrentPage)*quartz.itemsperpage > quartz.totalCount?quartz.totalCount:(quartz.bigCurrentPage)*quartz.itemsperpage}} of {{quartz.totalCount}} entries
        </div>
        <div ng-if="quartz.totalCount/quartz.itemsperpage > 1" class="col-sm-7">
            <ul class="pagination pull-right" uib-pagination total-items="quartz.totalCount"
                ng-model="quartz.bigCurrentPage" items-per-page="quartz.itemsperpage" class="pagination-sm"
                ng-change="quartz.queryPage(quartz)"
                max-size="5"
                boundary-link-numbers="true" rotate="true" boundary-links="true"></ul>
        </div>
    </div>
</div>
