<div id="{{menuTree.style.cssModuleName}}">
    <script type="text/ng-template" id="nodes_renderer">
        <div class="tree-node tree-node-content">
            <div ui-tree-handle class="angular-ui-tree-handle">
                <i class="{{node.icon}}"></i>
            </div>
            <div class="tree-node-content">
                <form name="menuTree.{{formName+$nodeIndex}}">
                    <label class="light-label">Id：<span class="editable-span" ng-bind="node.id"></span></label>
                    <span>|</span>
                    <label class="light-label">Title：<span contenteditable="{{menuTree.editable}}" name="editName" class="editable-span" ng-model="node.name" ng-bind="node.name"></span></label>
                    <span>|</span>
                    <label class="light-label">Href：<span contenteditable="{{menuTree.editable}}" name="editUrl" class="editable-span" ng-model="node.url" ng-bind="node.url"></span></label>
                    <span>|</span>
                    <label class="light-label">Icon：<span contenteditable="{{menuTree.editable}}" name="editIcon" class="editable-span" ng-model="node.icon" ng-bind="node.icon"></span></label>
                    <div class="pull-right">
                        <input ng-if="menuTree.radiotool" ng-disabled="!menuTree.checkable" ng-click="menuTree.checkItem(node)" type="checkbox" ng-model="node.checked">
                        <span ng-if="menuTree[formName+$nodeIndex].$dirty && node.isNew" ng-click="menuTree.saveNode(this, formName+$nodeIndex)" auth-opt="sys:menu:save" class="icon-button" title="Save">
                            <i class="fa fa-save"></i>
                        </span>
                        <span ng-if="menuTree[formName+$nodeIndex].$dirty && !node.isNew" ng-click="menuTree.updateNode(this, formName+$nodeIndex)" auth-opt="sys:menu:update" class="icon-button" title="Save">
                            <i class="fa fa-save"></i>
                        </span>
                        <span ng-if="menuTree.addtool" auth-opt="sys:menu:select" ng-click="menuTree.addNode(this)" class="icon-button">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                        <span ng-if="menuTree.deletetool" auth-opt="sys:menu:delete" ng-click="menuTree.removeNode(this)" class="icon-button">
                            <i class="fa fa-trash"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <ol class="angular-ui-tree-nodes" ui-tree-nodes="" ng-model="node.children" ng-init="formName=formName+$nodeIndex">
            <li ng-repeat="($nodeIndex,node) in node.children" class="angular-ui-tree-node" ui-tree-node ng-include="'nodes_renderer'">
            </li>
        </ol>
    </script>
    <div ui-tree class="angular-ui-tree" ng-init="formName='NodeForm'">
        <ol class="angular-ui-tree-nodes" ui-tree-nodes="" ng-model="menuTree.menuConfig" id="tree-root">
            <li class="angular-ui-tree-node" ng-if="node.hasOwnProperty('url')" ng-repeat="($nodeIndex,node) in menuTree.menuConfig" ui-tree-node ng-include="'nodes_renderer'"></li>
        </ol>
    </div>
</div>

